.img-logo {
  width: 100%;
  img {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .img-logo {
    width: 100%;
    img {
      width: 30%;
    }
  }
}
.section-titlee {
  position: relative;
  padding: 25px 0 35px 0;
  text-align: center;
}

.navbar-responsive {
  display: flex;
}
.full {
  width: 100%;
  height: 100%;
}
.prem {
  width: 100%;
}
.testimonial-item {
  width: 200px;
  height: 400px;
}